*{
  border-radius: 5px;
  line-height: 20px;
  font-family: fantasy;
}

body{
  background-color: black;
}

.footer{
  color: goldenrod;
  font-size: medium;
  font-family: fantasy;
  text-align: center;
}