.shop-image{
    height: 400px;
    width: 550px;
}

.shop-goods{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    margin: 20px;
}

.tooltip-attr-pic{
    margin-right: 7px;
}

.tooltip-attr-stat{
    
}