.character-page {
  min-height: 70vh;
  align-content: center;
  font-family: fantasy;
}

.big-container {
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;

  border-color: goldenrod;
  height: 80%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  padding: 10px;
  border-color: goldenrod;
}

.panel {
  text-align: center;
  padding: 20px 10px;
  font-size: x-large;

  margin: auto;
  width: 100%;
  border-radius: 5px;
  color: goldenrod;
  background-color: black;
  border-color: goldenrod;
  border: solid 1px;
}

.panel:hover {
  cursor: pointer;
  color: black;
  background-color: goldenrod;
  border-color: goldenrod;
  border: solid 1px;
}

#left-container {
  height: 600px;
}

#right-container {
  height: 80%;
}
