

.character-page {
  min-height: 70vh;
  align-content: center;
  font-family: fantasy;

}

.big-container {
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
  
  border-color: goldenrod;
  height: 80%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  padding: 10px;
  border-color: goldenrod;
}

.panel {
  text-align: center;
  padding: 20px 10px;
  font-size: x-large;
  color: goldenrod;
  border-color: goldenrod;
  border: solid 1px;
  margin: auto;
  width: 100%;
}

.panel:hover{
  cursor: pointer;
}


#left-container{
  
  height: 600px;
}

#right-container{
  
  height: 80%;
}
